extends base

block emailContent
  p Hi there #{name},  
  p thank you very much for registering in our e-commerce, i hope you enjoy our services, we promise that you will never regret it!
  p Good luck!